@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Verdana, Geneva, sans-serif;
}

.animation-spin{
  animation-name: animation-spin;
  animation-duration: 0.8s;
  animation-timing-function: steps(12, end);
  animation-iteration-count: infinite;
}

div.border-item:not(:last-child) {
  border-bottom: 1px solid #999;
}

@keyframes animation-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
